@media screen and (max-width: 600px) {
  #back {
    background-color: #cf07f2;

  }

  #content {
    background-color: #d51ac5;
  }

}


div {
  padding: 12px;
  height: 100%;
  border-radius: 24px;
  text-align: -webkit-center;
  margin: inherit;
  background-image: linear-gradient(50deg, #7a008d, transparent);
  margin: 2%;
}

#div {
  background-color: blanchedalmond;
  height: 147px;
  border-radius: 30px;
  width: 189px;
  display: inline-flex;
  margin: 4%;
}


#back {

  border-radius: 10px;
  padding: 20px 0;
  margin: 0 10px;
  align-items: center;
  cursor: pointer;
  font-family: 'system-ui';
  background-color: #d3c5d5cb;
  text-align: center;
}

*/ #back h1:hover {
  background-color: rgb(170, 88, 203);
  font-size: 32px;
}

#div:hover {
  background-color: rgb(170, 88, 203);
  font-size: 15px;
  cursor: pointer;
}

body {
  background-color: rgb(221 221 239 / 4%);

}


#page1,
#page2,
#page3,
#page4,
#page4,
#page5,
#page6 {
  display: none;
  height: 530px;
}

#D1 {
  margin-top: 50px;
  width: 77px;
  display: inline-flex;
  background-color: #e9d8d8;
  border-radius: 5px;
  height: 40px;
  font: caption;
  font-family: system-ui;
  font-weight: bolder;
  text-align: center;
}

#D2 {

  width: 77px;
  display: inline-flex;
  background-color: #e9d8d8;
  border-radius: 5px;
  height: 40px;
  font: caption;
  font-family: system-ui;
  font-weight: bolder;
  text-align: center;
}

#D3 {

  width: 77px;
  display: inline-flex;
  background-color: #e9d8d8;
  border-radius: 5px;
  height: 40px;
  font: caption;
  font-family: system-ui;
  font-weight: bolder;
  text-align: center;
}

#D4 {

  text-align: center;
  width: 84px;
  background-color: #e49fdb;
  border-radius: 5px;
  height: 40px;
  font: caption;
  font-weight: bolder;
}

img {
  height: 123px;
  width: 123px;
  padding-left: 31px;
  position: absolute;
}

#p1 {
  position: absolute;
  margin-top: 126px;
  margin-left: 40px;
  font-family: system-ui;
  font-weight: bolder;
}

#p2 {
  position: absolute;
  margin-top: 126px;
  margin-left: 20px;
  font-family: system-ui;
  font-weight: bolder;
}

#p3 {
  position: absolute;
  margin-top: 126px;
  margin-left: 45px;
  font-family: system-ui;
  font-weight: bolder;
}

#p4 {
  position: absolute;
  margin-top: 123px;
  margin-left: 18px;
  font-family: system-ui;
  font-weight: bolder;
}

span {
  font-family: system-ui;
  font-weight: bolder
}

#per {

  margin-left: 70px;
  background: #ccd2ed21;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: 2px solid black;

}


#per2 {

  margin-left: 93px;
  background: #ccd2ed21;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  margin-top: inherit;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: 2px solid black;

}

h3 {
  font-family: system-ui;
  border: 2px solid transparent;
  text-decoration: overline;
  color: rgb(0, 0, 0);
  padding: 40px;
}

footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #b99fbd;
  padding: 20px 0 20px 0;
  border-radius: 13px;
  font-family: system-ui;
}

#emi {
  margin-left: 138px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;

}

#emi1 {
  margin-left: 107px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  margin-top: inherit;
}

#emi2 {
  margin-left: 25px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  margin-top: inherit;
}

#int {
  margin-left: 138px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;

}

#int2 {
  margin-left: 107px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  margin-top: inherit;
}

#int3 {
  margin-left: 103px;
  background: #0000003b;
  width: 55px;
  border-radius: 10px;
  padding: 8px;
  margin-inline-end: inherit;
  margin-top: inherit;
}

#b {
  background: space;
  border-top: solid;
  border-radius: 10px;
  padding: 7px;
  font-family: system-ui;
  font-weight: bolder;

}